body {
  background: url("img/bg.jpg");
  color: whitesmoke;
  box-sizing: border-box;
  text-align: center;
}

.left {
  /* border: 2px solid red; */
  display: inline-block;
  position: absolute;
  left: 32px;
  top: 25px;
}

.left img {
  width: 95px;
  filter: invert();
}
.left div {
  text-align: center;
  font-size: larger;
  font-family: "Itim", cursive;
}

.middel {
  /* border: 2px solid yellow; */
  font-family: "Josefin Sans", sans-serif;
  display: block;
  width: 55%;
  position: relative;
  right: auto;
  margin: 25px auto;
  background-color: rgba(0, 0, 0, 0.614);
  border-radius: 50px;
}

.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
}
.navbar li a {
  text-decoration: none;
  padding: 23px;
  margin: auto;
  color: white;
  font-size: 25px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}
.right {
  /* border: 2px solid blue; */
  display: inline-block;
  position: absolute;
  right: 32px;
  top: 25px;
}

.btn {
  padding: 5px 10px;
  color: white;
  margin: 14px;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  font-family: "Itim", cursive;
  font-size: large;
}
.right .btn:hover {
  background-color: rgba(171, 167, 167, 0.555);
}

.container {
  border: 5px solid whitesmoke;
  border-radius: 40px;
  color: #ffff;
  width: 40%;
  display: block;
  margin: 110px 69px;
  font-family: "Itim", cursive;
}

.gender {
  display: inline-block;
  /* border: 2px solid deeppink; */
  margin: 25px;
}
.gender input {
  font-size: 50px;
}
.inpbox {
  /* border: 2px solid indianred; */
  display: block;
  margin: 20px;
  font-size: large;
}
#lastinp {
  margin-bottom: 0px;
}
.inpbox input {
  font-size: 25px;
  text-align: center;
  border-radius: 12px;
  font-family: "Itim", cursive;
}

#submitbtn{
  padding: 5px 10px;
  color: white;
  margin: 14px;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
  font-family: "Itim", cursive;
  font-size: large;
  width: 505px;
  border-color: #ffff;
}